<div class="form-section">
    <div class="form-label">Sign in</div>
    <form method = "POST" action = "/">
    <input type="text" class="text-field" placeholder="Username" name = "login_username">
    <input type="password" class="text-field" placeholder="Password" name = "login_password">
    <input class = "login-button" type = "submit" value = "Add User">
  </form>