<div class="form-section">
    <div class="form-label">Enter in Desired Credentials</div>
    <form method = "POST" action = "/">
    <input type="text" class="text-field" placeholder="Username" name = "username">
    <input type="password" class="text-field" placeholder="Password" name = "password">
    <input class = "login-button" type = "submit" value = "Add User">
    </form>